-content_for :logo do
  %a{href: '/', :class => "logo"}
    %span Commander

-content_for :social_links do
  .social
    %a.icon-github{:href => "https://github.com/hybridgroup/commander", :target => "blank"}
    %a.icon-twitter{:href => "http://twitter.com/commander_io", :target => "blank"}
