-content_for :logo do
  %a{href: '/'}
    %span Commander

-content_for :social_links do
  .social
    %a.github{:href => "http://github.com", :target => "blank"}
    %a.facebook{:href => "http://facebook.com", :target => "blank"}
    %a.twitter{:href => "http://twitter.com", :target => "blank"}