.app-footer {
  .screenshots {
    background: $color-light-green;
    overflow: hidden;
    padding-bottom: em(38);

    h2 {
      color: $color-navy;
      @include media($mobile-large) {
        text-align: center;
      }
    }

    .placeholder {
      background: $color-dark-green;
      @include span-columns(3 of 12);

      @include media($mobile-large) {
        @include span-columns(6 of 12);
        margin-bottom: em(15);
        &.second {
          @include omega();
        }
      }

      @include media($mobile) {
        @include span-columns(12 of 12);
      }
    }
  }

  .footer-links {
    background: $color-dark-blue;
    overflow: hidden;
    color: #fff;
    
    .container {
      margin: em(67) auto;
      font-size: em(12);
    }

    .title {
      font-weight: bold;
      font-size: em(20);
      @include media ($mobile) {
        text-align: center;
      }
    }

    .blog {
      @include span-columns(3 of 12);
      @include media ($tablet) {
        @include span-columns(6 of 12);
      }

      @include media ($mobile) {
        @include span-columns(12 of 12);
      }
    }

    .twitter {
      @include span-columns(3 of 12);
      @include media ($tablet) {
        @include span-columns(6 of 12);
        @include omega();
      }

      @include media ($mobile) {
        @include span-columns(12 of 12);
      }
    }

    .contact {
      @include span-columns(3 of 12);
      @include media ($tablet) {
        @include span-columns(6 of 12);
      }

      @include media ($mobile) {
        @include span-columns(12 of 12);
      }

      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .network {
      @include span-columns(3 of 12);
      @include media ($tablet) {
        @include span-columns(6 of 12);
        @include omega();
      }

      @include media ($mobile) {
        @include span-columns(12 of 12);
      }

      .social  {
        text-align: center;

        a {
          display: inline-block;
        }
      }
    }


  }

  .footer-base {
    background: $color-navy;
    min-height: em(114);
    text-align: center;
    overflow: hidden;

    img {
      margin-top: em(29);
    }
  }
}