.hero {
  background: url(../images/hero-bg.png) no-repeat 86% bottom;
  min-height: 407px;
  margin-bottom: 60px;

  @media screen and (min-width: 1069px) and (max-width: 1250px) {
    background-position: 100% bottom;
  }

  @media screen and (min-width: 991px) and (max-width: 1068px) {
    background-position: 110% bottom;
  }

  @media screen and (min-width: 769px) and (max-width: 990px) {
    background-position: 120% bottom;
  }

  @media screen and (max-width: 768px) {
    background-position: 230% bottom;
  }


  .hero-text {
    @include span-columns(6 of 12);

    @include media($tablet) {
      @include span-columns(7 of 12);
    }

    h1 {
      margin-top: em(30);
      color: $color-light-green;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 2.5em;
    }

    .store-button {
      margin-right: 15px;

      @include media($tablet) {
        margin-right: 10px;
      }  

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}