.app-footer {
  .screenshots {
    background: $color-light-green;
    overflow: hidden;
    padding-bottom: em(38);

    h2 {
      color: $color-navy;
    }

    .placeholder {
      background: $color-dark-green;
      @include span-columns(3 of 12);
    }
  }

  .footer-links {
    background: $color-dark-blue;
    overflow: hidden;
    color: #fff;
    min-height: em(252);
    
    .container {
      margin-top: em(67);
    }

    .blog {
      @include span-columns(4 of 12);
    }

    .twitter {
      @include span-columns(3 of 12);
    }

    .contact {
      @include span-columns(3 of 12);
    }

    .network {
      @include span-columns(2 of 12);
    }


  }

  .footer-base {
    background: $color-navy;
    min-height: em(114);
    text-align: center;
    overflow: hidden;

    img {
      margin-top: em(29);
    }
  }
}