.screenshots
  .container
    %h2.clear SCREENSHOTS
    .placeholder
      %img{src: '/images/assets/cover.jpeg'}
    .placeholder.second
      %img{src: '/images/assets/dpad.jpeg'}
    .placeholder
      %img{src: '/images/assets/dual.jpg'}
    .placeholder.second
      %img{src: '/images/assets/list.jpeg'}

.footer-links
  .container
    .blog
      %p.title About
      %p
        Commander is brought to you by the friendly humans at <a href="http://hybridgroup.com" class="thg">The Hybrid Group</a>.

    .contact
      %p.title CONTACT
      %p
        %span.icon-mail
        %a{:href => "mailto:hello@hybridgroup.com"} hello@hybridgroup.com

    .network
      %p.title NETWORK
      = yield_content :social_links

.footer-base
  %img{:src => "/images/footer-logo.png", :alt => ""}/
  %p
    Copyright 2014 The Hybrid Group
