.screenshots
  .container
    %h2 SCREENSHOTS

    .placeholder
    .placeholder
    .placeholder
    .placeholder


.footer-links
  .container
    .blog
      %p BLOG
      %p
        Ruby Central, Inc. (AKA the organization who brings you RubyConf) has a new site design! Check it out: http://rubycentral.org  Thx, @elabs!

    .twitter
      %p TWITTER
      %p
        Ruby Central, Inc. (AKA the organization who brings you RubyConf) has a new site design! Check it out: http://rubycentral.org  Thx, @elabs!

    .contact
      %p CONTACT

    .network
      %p NETWORK

.footer-base
  %img{:src => "/images/footer-logo.png", :alt => ""}/
