.screenshots
  .container
    %h2 SCREENSHOTS

    .placeholder
    .placeholder
    .placeholder
    .placeholder


.footer-links
  .container
    .blog
      %p BLOG

    .twitter
      %p TWITTER

    .contact
      %p CONTACT

.footer-base
  .container
