- unless current_page.data.hero.nil?
  .hero
    .container
      .hero-text
        %h1
          = current_page.data.hero_title
        %a{:href => "https://itunes.apple.com/us/app/commander.io/id935923011?mt=8", :class => "store-button"}
          %img{:src => "images/app-store.png", :alt => ""}/

        %a{:href => "https://play.google.com/store/apps/details?id=com.hybridgroup.commander", :class => "store-button"}
          %img{:src => "images/google-play.png", :alt => ""}/
