---
hero: true

title: Commander.io - Universal remote control for robots and the Internet of Things.
author: The Hybrid Group
description: Commander.io is a universal remote control for robots and the Internet of Things.
layout: home

hero_title: "Universal remote control for robots and the Internet of Things"

---

.container
  .home-about
    %h2 About Commander.io

    :markdown
      Commander.io is a universal remote control for robots and the Internet of Things. It is a mobile app that can be used to send commands to your robots or other connected devices.

      It can communicate with any device that supports the [Common Protocol for Programming Physical I/O](http://cppp.io).

      [Cylon.js](http://cylonjs.com), [Gobot](http://gobot.io) and [Artoo](https://artoo.io) are frameworks that implement an API compatible with this protocol.

      Commander is open source software developed using [PhoneGap](http://phonegap.com/) and [Ionic Framework](http://ionicframework.com/). 

      You can check out the [source code](https://github.com/hybridgroup/commander) on Github. We look forward to your contributions!

  .home-features
    %h2 Command Sets

    :markdown
      You can load a **command set** that is a list of the preconfigured commands and you can choose between different types of layouts.

    .feature
      .icon-feature.feature-01
      %h4 List
      %p Start with a simple list of commands to make things happen in the real-world

    .feature
      .icon-feature.feature-02
      %h4 D-Pad
      %p The "D-pad" or "Directional Pad" is a great way to control things that move in 2 dimensions

    .feature
      .icon-feature.feature-03
      %h4 Joystick
      %p The joystick is the most common user interface for things that move in 3-dimensions. Very useful for drones!
