---
hero: true

title: Commander - Control robots from your mobile device.
author: The Hybrid Group
description: Commander is an app to control robots from your mobile device.
layout: home

hero_title: "JavaScript Robotics, By Your Command"

hero_subtitle: "Next generation robotics framework with support for <a href='#platforms'>31 different platforms</a>"

---