---
hero: true

title: Commander - A mobile app to control robots and connected devices.
author: The Hybrid Group
description: Commander is an app to control robots from your mobile device.
layout: home

hero_title: "A mobile app to control robots and connected devices."

---

.container
  .home-about
    %h2 About Commander

    :markdown
      Commander is a mobile app to control robots, connected devices, and the Internet of Things.

      Commander can be used to send commands to your robots or listen for events coming from them.

      You can load a **command set** that is a list of the preconfigured commands and you can choose between different types of layouts.

      It can communicate with any device that supports the [Common Protocol for Programming Physical I/O](http://cppp.io).

      [Cylon](http://cylonjs.com), [Gobot](http://gobot.io) and [Artoo](https://artoo.io) are frameworks that implement an API compatible with this protocol.

      Commander is open source software developed using [PhoneGap](http://phonegap.com/) and [Ionic Framework](http://ionicframework.com/). You can check out the [source code](https://github.com/hybridgroup/commander).

  .home-features
    %h2 Command Set Types

    .feature
      .icon-feature.feature-01
      %h4 List
      %p Start with a simple list of commands to make things happen in the real-world

    .feature
      .icon-feature.feature-02
      %h4 D-Pad
      %p The "D-pad" or "Directional Pad" is a great way to control things that move in 2 dimensions

    .feature
      .icon-feature.feature-03
      %h4 Joystick
      %p The joystick is the most common user interface for things that move in 3-dimensions. Very useful for drones!
