---
hero: true

title: Commander - Control robots from your mobile device.
author: The Hybrid Group
description: Commander is an app to control robots from your mobile device.
layout: home

hero_title: "control robots from your mobile device"

---

.container
  .home-about
    %h2 About Commander

    %p.subtitle
      Lorem ipsum dolor sit amet, consectetur Phasellus id commodo felis, Ipsum dolor sit

    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id commodo felis, in commodo lectus. Vivamus
      placerat massa vel vehicula cursus. Suspendisse adipiscing adipiscing quam et pellentesque. Nulla mollis odio arcu,
      eget sagittis nunc imperdiet ut. 

    %p 
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem ex earum culpa nemo aliquam debitis fugiat nisi, 
      ipsa eveniet enim, aperiam cumque quis officia. Ullam molestiae recusandae soluta facilis inventore!

  .home-features
    %h2 Features

    .feature
      .icon-feature.feature-01
      %h4 Lorem Ipsum
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id commodo felis, in.

    .feature
      .icon-feature.feature-02
      %h4 Lorem Ipsum
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id commodo felis, in.

    .feature
      .icon-feature.feature-03
      %h4 Lorem Ipsum
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id commodo felis, in.